/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************** END CSS RESET ****************/

/**************** General Page Setup ***************/
:root {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Roboto", Helvetica, Arial, Verdana, sans-serif;

    --link-color: #08c;
    --main-text-color: #fff;
    --small-text-color: #6e6e6e;
}

* {
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans  Unicode", "Roboto", Helvetica, Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
}

#page-container {
    display: grid;
    gap: 3px;
    grid-template-areas:
        ". main ."
        ". related-products ."
        ". footer .";
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr max-content max-content;
    min-height: 100%;
    width: 100%;
}

/*************** MAIN ***************/
#main {
    background: url("assets/hero.jpg") center 100% no-repeat;
    background-size: cover;
    grid-area: main;
}

/******** ASIDE: RELATED PRODUCTS ********/
#related-products {
    display: grid;
    gap: 3px;
    grid-area: related-products;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

/*************** FOOTER ***************/
#footer {
    color: var(--small-text-color);
    display: grid;
    font-size: 10px;
    gap: 10px 50px;
    grid-area: footer;
    grid-template-areas:
        "store-info   links"
        "copyright      .  ";
    grid-template-rows: min-content min-content;
    justify-content: center;
    margin: 20px 0 30px 0;
}

#footer a {
    color: var(--link-color);
}

.store-information {
    grid-area: store-info;
}

.copyright-policy-info {
    grid-area: copyright;
}

.pipe-color {
    color: #ccc;
}

.other-links {
    display: grid;
    gap: 5px;
    grid-area: links;
    grid-template-columns: repeat(8, max-content);
}

.other-links a {
    border-right: 1px solid #ccc;
    display: grid;
    padding: 1px 5px 1px 0;
}

.other-links li:last-child a {
    border-right: none;
}

.flag-icon {
    position: relative;
    top: -2px;
    width: 15px;
}


